@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body {
  font-family: 'Encode Sans Expanded', sans-serif;
}


@layer base{

    html {
         @apply bg-white text-slate-900 transition-colors dark:bg-slate-950 dark:text-slate-100;
    }

    body{
         font-family: "Poppins", sans-serif;
         @apply min-h-screen bg-white text-slate-900 transition-colors dark:bg-slate-950 dark:text-slate-100;
    }
}
@theme{
    --color-main:#0aad0a;
}

@utility container{
    @apply mx-auto pt-4 sm:px-6 lg:px-8;
}
@layer components{
    .form-control{
        @apply px-3 py-2 rounded-md bg-white text-slate-900 transition-colors focus:outline-none dark:bg-slate-800 dark:text-slate-100 dark:placeholder:text-slate-400
    }
    
}
@layer components{
    .btn{   
        @apply py-3 px-6 rounded-md border-gray-500 bg-main
    }
    .card {
        @apply overflow-hidden rounded-md transition-colors dark:bg-slate-900 dark:text-slate-100 dark:shadow-slate-950/40;
    }
    .nav-item {
    @apply relative transition-colors hover:font-semibold hover:text-main
           after:content-[''] after:absolute after:left-0 after:-bottom-1
           after:bg-main after:h-[3px] after:w-0 hover:after:w-full
           after:transition-all ;
  }
}
